{% extends 'base.html' %}

{% block content %}
    <section class="container">
        <h2>Profil</h2>
        <div>
        <p>Imię: {{ user.first_name }}
        <p>Nazwisko: {{ user.last_name }}
        <p>Email: {{ user.email }}</div>
    </section>
    <ul>
    {% for d in user_donation %}
    <li>Worki: {{ d.quantity }} dla {{ d.institutions }},
        kategorie: {{ d.categories.all|join:", " }},
        data: {{ d.pick_up_date }}, godzina: {{ d.pick_up_time }}</li>
    {% endfor %}
    </ul>
{% endblock %}
